/** Color Scheme
 *  http://colorschemedesigner.com/#3i61Sw0w0w0w0
 * #099, #1142AA, #00C90D, #FF7400
 */

html {background:#bfb8b0;}
body {width:400px; margin:25px auto; padding:40px 100px 60px; font:20px Verdana, sans-serif; background-color:#fafafa; color:#6f6860;}
body {box-shadow:0px 0px 95px #777; text-shadow:0px 0px 2px #ddd; border-radius:1px;}

h1 {margin-bottom:5px; text-align:center; font:48px Georgia, serif;}
a {text-decoration:none; color:#059;}
a:hover {color:#d75;}

.sites {overflow:hidden;}
.sites>dt, .sites>dd {margin-top:25px; line-height:24px;}
.sites>dt {clear:left; float:left; margin-right:15px;}
.sites>dt>a {text-decoration:none; padding-left:38px; background:url('/img/bgSprite.png') no-repeat -40px 0; font-weight:bold;}
.sites>dd {width:100%; font-style:italic; font-family:'Times New Roman', serif;}

dt.flickr>a {background-position:2px 0px;}
dt.picasa>a {background-position:2px -50px;}
dt.twitter>a {background-position:-2px -96px;}
dt.gowalla>a {background-position:6px -150px;}
dt.foodspotting>a {background-position:6px -198px;}
dt.facebook>a {background-position:6px -248px;}
dt.tumblr>a {background-position:6px -298px;}
dt.posterous>a {background-position:6px -348px;}
dt.blogspot>a {background-position:6px -398px;}
dt.zappos>a {background-position:8px -446px;}
dt.sixpm>a {background-position:8px -496px;}
dt.yelp>a {background-position:6px -548px;}
dt.amazon>a {background-position:6px -598px;}
dt.foursquare>a {background-position:6px -648px;}
dt.github>a {background-position:4px -700px;}
dt.imdb>a {background-position:2px -744px;}
